{% extends "layout_base.html" %}

{% block rightside %}


<!--{% for name, path, seen in names, paths, seen_s %}
{{ story_layout(name, path, seen) }}
{% endfor %}-->


{% endblock %}

{% block content %}
<div class="box-posts pt-sm-6 overflow-auto">
    {% for post in lista_post %}
    <div class="post">
        <div class="profile-info-post-box">
            <img class="rounded-circle img-post" src="{{post['PathImmagineProfilo']}}" alt="imm_profilo" width="24px" height="24px"> 
            <a href="{{url_for('profile', id=post['IDProfilo'])}}"><p class="post-name">{{post["Nome"]}} {{post["Cognome"]}}</p></a> <p>il {{post['Data']}}</p>
        </div>
        <div class="img-post-box">
            <img src="{{post['PercorsoFile']}}" alt="imm_post">
        </div>
        <p class="desc-post mt-2"> {{post["Descrizione"]}} </p>
        <div class="action-icon">
            <img class="heart-icon me-3" src alt="img-like">
            <img class="comment-icon" src alt="img-comment">
        </div>
    </div>
    {% endfor %}
</div>
{% endblock%}

{% block script %}

<script>
    $(".heart-icon").on("click", function(){
        $(this).toggleClass("liked");
    });
</script>

{% endblock%}