<!-- LAYOUT PRINCIPALE DOVE VERRANO ESTESI TUTTI GLI ALTRI HTML -->

{% macro story_layout(nome_utente, path_imgP, seen) %}
    <!-- imagine profilo dell'utente con pulsante integrato -->
    <button class="btn story-user"> 
        <span class="icon-story">
            <img class="
            story-user-icon"
            src="{{path_imgP}}" alt='user-icon'>
        </span>
        <span class="story-text">{{ nomeUtente }}</span>
    </button>
{% endmacro %}

<!DOCTYPE html>
<html lang="it" data-bs-theme="{{ theme }}">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="manifest" href="{{ url_for('static', filename='manifest.json') }}">
        <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.css')}}">
        <script src="{{url_for('static', filename='bootstrap-5.3.3-dist/js/jquery-3.7.1.min.js')}}"></script>
        <title> STORYGRAM </title>
        <link rel="icon" type="image/x-icon" href="/static/images/favicon.ico">
    </head>
    <body>
        <div class="row vh-sm-100 m-auto d-flex flex-row-reverse justify-content-start">
            <span class="nome-utente d-none fixed-top"> <!-- nome dell'utente -->
                <b>{{ nomeUtente }}</b>
            </span>
            <div class="col main-col stories pt-sm-6">
                
                {% block rightside %}
                {% endblock %}
                
            </div>
            <div class="col-lg-7 col-7 main-col content">
                <div id="main_frame" class="mh-100"> <!-- mi serve questo div in modo che poss renderizzare il profilo
                    <div class="post">
                    
                    </div>
                    -->
                    
                    {% block content %}
                    {% endblock %}

                </div>
            </div>
            <!-- menu responsive -->
            <div class="col-lg col-sm-1 w-sidebars pt-sm-6 main-col sidebar">
                <!-- bottone per redirect alla home di storygram-->
                <button type="button" class="btn btn-sidebar" role="button" onclick="renderHome()">
                    <span class="icon-sidebar">
                        <img class="home-icon" src="" alt="img_home">
                    </span>
                    <span class="text-sidebar">Home</span>
                </button>
                <!-- bottone per redirect alla pagina di ricerca -->
                <button type="button" class="btn btn-sidebar" role="button" onclick="cerca_utente()">
                    <span class="icon-sidebar">
                        <img class="search-icon" src="" alt="img_search">
                    </span>
                    <span class="text-sidebar">Cerca</span>
                </button>
                <!-- bottone per redirect alla pagina di creazione post-->
                <button type="button" class="btn btn-sidebar" role="button" onclick="crea()">
                    <span class="icon-sidebar">
                        <img class="add-icon" src="" width="24px" height="24px">
                    </span>
                    <span class="text-sidebar">Crea</span>
                </button>
                <!-- bototne per redirect alla pagina dei messaggi -->
                <button type="button" class="btn btn-sidebar" role="button" onclick="renderMessage()">
                    <span class="icon-sidebar">
                        <img class="message-icon" src="" alt="img_message">
                    </span>
                    <span class="text-sidebar">Messaggi</span>
                </button>
                <!-- bottone per redirect alla pagina del profilo personale  -->
                <button type="button" class="btn btn-sidebar" role="button" onclick="renderProfile()">
                    <span class="icon-sidebar">
                        <img class="user-icon" src="" alt="img_user">
                    </span>
                    <span class="text-sidebar">Profilo</span>
                </button>
                <!-- bttone per effettuare il logout dal profilo -->
                <button type="button" class="btn btn-sidebar" role="button" onclick="logout()">
                    <span class="icon-sidebar">
                        <img class="logout-icon" src="" alt="img_user">
                    </span>
                    <span class="text-sidebar">Log-Out</span>
                </button>
            </div>
        </div>
        <div class="search-box">
            <div class="row w-100 h-100 m-auto">
                <div class="col-12 close-icon-search d-flex justify-content-end align-items-center">
                    <button class="btn" onclick="chiudi_search()">
                        <img class="close-icon" src alt="">
                    </button>
                </div>
                <div class="col-12 search-bar-box">
                    <div class="row bar search-bar m-auto">
                        <div class="col-2 bar-icon">
                            <img class="search-icon" src alt="">
                        </div>
                        <div class="col-10">
                            <input class="input-bar"  placeholder="Cerca un utente">
                        </div>
                    </div>
                </div>
                <div class="col-12 user-box" id="lista-utenti">
                    <!--
                    <div class="col-12 contact" id="{{ IDUtenteRemoto }}">
                        <div class="row">
                            <div class="col-1 contact-user-profile-img">
                                <img class="user-icon" src alt="" height="24px" width="24px">
                            </div>
                            <div class="col contact-user-name">
                                {{ nomeUtente }}
                                Nome Utente
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
        </div>
        <div class="vw-100 vh-100 fixed-top comment-overlay d-none">
            <div class="comment-box">
                <div class="row m-auto h-100 mh-100 overflow-hidden">
                    <div class="col post-comment-selected" id="">
                        <img class="img-comment" src alt="">
                    </div>
                    <div class="col">
                        <div class="row h-100 m-auto">
                            <div class="col-12 info-user-post">
                                <div class="row h-100">
                                    <div class="col intestazione-mobile">
                                        <span>Commenti</span>
                                    </div>
                                    <div class="col-2 d-flex align-items-center img-profilo-comment">
                                        <img class="rounded-circle" src alt="" class="" height="72px" width="72px" id="profileImageComment">
                                    </div>
                                    <div class="col d-flex align-items-center nomeUtentePost-box">
                                        <span id="nomeUtentePost"></span>
                                    </div>
                                    <div class="col-2 close-comment">
                                        <button class="btn d-flex" onclick="close_comment()" height="24px" width="24px">
                                            <img src alt="" class="close-icon align-self-start" >
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 h-100 comments">
                            </div>
                            <div class="col-12 comment-bar-col">
                                <div class="row bar comment-bar">
                                    <div class="col-2 bar-icon">
                                        <img class="keyboard-icon" src alt="">
                                    </div>
                                    <div class="col-10">
                                        <input class="input-bar" id='input-bar' placeholder="Commenta qualcosa...">
                                    </div>
                                </div>
                                <button class="btn" onclick="send_comment(this)">
                                    <img src alt="" class="send-icon align-self-end" width="24px" height="24px">
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <script src="{{url_for('static', filename='bootstrap-5.3.3-dist/js/bootstrap.js')}}"></script>
        <!-- script per i vari redirect alle varie pagine del menu responsive -->
        <script>
            $(document).ready(function(){
                $(".btn-sidebar").on("click",function(){
                    $(".btn-sidebar").removeClass("selected");
                    $(this).addClass("selected");
                })

                
            });

            // per il redirect alla pagina home 
            function renderHome() {
                window.location.href="{{url_for('home')}}";
            }

            // per il redirect alla pagina di un profilo 
            function renderProfile(){
                window.location.href="{{url_for('profile', id=session_userid)}}";
            }

            // per effettuare il logout
            function logout(){
                window.location.href="{{url_for('logout')}}";
            }

            // per iniziare a seguire un utente
            function seguiutente(){
                window.location.href="{{url_for('segui', id_profilo_da_seguire=ID)}}";
            }
            
            // per renderizzare un messaggio 
            function renderMessage(){
                window.location.href="{{url_for('segui', id_profilo_da_seguire=ID)}}";
            }

            // per smettere di seguirre un utente
            function stop_seguiutente(){
                window.location.href="{{url_for('stop_segui', id_profilo_da_stop_seguire=ID)}}";
            }

            // per andare alla pagina di modifica profilo 
            function modificaprofilo(){
                window.location.href="{{url_for('modifica_profilo', id=ID)}}";
            }

            // per andare alla pagina per creare un post
            function crea(){
                window.location.href="{{url_for('create_post')}}"
            }

            // per andare alla pagina per cercare un utente 
            function cerca_utente(){
                //window.location.href="{{url_for('search')}}"
                $(".search-box").addClass("click");
            }

            // per chiudere la pagian di ricerca 
            function chiudi_search(){
                $(".search-box").removeClass("click");
                $(".btn-sidebar").removeClass("selected");
            }

            $('.search-bar').keypress(function(event){
	
                if($(document).ready()){
                    var keycode = (event.keyCode ? event.keyCode : event.which);
                    if(keycode == '13' && $(".input-bar").val() != ""){
                        
                        $.ajax(
                        {
                            type: "POST",
                            url: "{{url_for('search')}}",
                            data: {
                                input_cerca_utente: $(".input-bar").val()
                            },
                            success:function(profili){
                                $('#lista-utenti').html("");
                                $(".input-bar").val("");
                                profili.forEach(d => {
                                    $("#lista-utenti").append(`
                                    <div class="col-12 contact" id="${d["IDProfilo"]}">
                                        <div class="row">
                                            <div class="col-1 contact-user-profile-img">
                                                <img class="rounded-circle" src="${d["PathImmagineProfilo"]}" alt="" height="44px" width="44px">
                                            </div>
                                            <div class="col contact-user-name">
                                                <a href="/profile/${d["IDProfilo"]}">
                                                <p class="nome-commenter">
                                                    ${d["Nome"]} ${d["Cognome"]}
                                                </p></a>
                                            </div>
                                        </div>
                                    </div>`
                                    )
                                });
                            }
                        });
                        
                    }
                }
            });

            // per creare un commento 
            function send_comment(obj){
                idPost = $(obj).parent().parent().parent().parent().find(".post-comment-selected").attr("id");

                $.ajax(
                {
                    type: "POST",
                    url: "{{url_for('post_comment')}}",
                    data: {
                        post_id: idPost,
                        id_provenienza: document.getElementById("c1").value,
                        text: document.getElementById("input-bar").value
                    },
                    success:function(){
                        document.getElementById("input-bar").value = "";
                        $.ajax(
                            {
                                type: "GET",
                                url: "{{url_for('post_comment')}}",
                                data: {
                                    post_id: idPost
                                },
                                success:function(data){
                                    var d = data.slice(-1);
                                    d = d[0];
                                    $(".comments").append(`
                                        <div class="comment">
                                            <div class="commenter-info">
                                                <img src="${d[PathImmagineProfilo]}" alt="" class="user-icon">
                                                <a href="/profile/${d["IDProfilo"]}"><p class="nome-commenter">
                                                    ${d["Nome"]} ${d["Cognome"]}
                                                </p></a>
                                            </div>
                                            <div class="comment-text">
                                                ${d["text"]}
                                            </div>
                                        </div>`
                                    )
                                }
                            }
                        );
                    }
                }
            );
            }

            // per chiudere la pagina dei commenti
            function close_comment(){
                $(".comments").html("");
                $(".comment-box").removeClass("opened");
                if(screen.width <= 575)
                    setTimeout(function(){
                        $(".comment-overlay").addClass("d-none");
                    }, 1000);
                else
                    $(".comment-overlay").addClass("d-none");
            }
        </script>
        {% block script %}
        {% endblock %}
    </body>
</html>