{% extends "layout_base.html" %}

{% block content %}

<div class="row remote-user-info">
</div>
<div class="row main-messages-box">
    <div class="col-12 message-box"></div>
    <div class="col-12 message-bar-box">
        <div class="row bar message-bar">
            <div class="col-1 bar-icon">
                <img class="keyboard-icon" src alt="">
            </div>
            <div class="col-8">
                <input class="input-bar"  placeholder="Scrivi un messaggio...">
            </div>
            <div class="col-1">

            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rightside %}

<div class="row contacts-box">
</div>

{% endblock %}