{% extends "layout_base.html" %}

{% block content %}

<div class="row remote-user-info">
    <div class="col-lg-1 col-2 remote-user-profile-img">
        <img class="user-icon" src alt="" height="48px" width="48px">
    </div>
    <div class="col-lg-11 col-10 remote-user-name">
        {{ nomeUtente }}
        Nome Utente
    </div>
</div>
<div class="row main-messages-box">
    <div class="col-12 message-box">
        <div class="message remoto">
            primp
        </div>
        <div class="message locale">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message remoto">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message locale">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message remoto">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message locale">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message remoto">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message remoto">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
        <div class="message locale">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>

        <div class="message locale">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>

        <div class="message remoto">
            adskljfasl;dkfkl;jasdfjklasdfjklasdjklfjklasdfjklasdfkljasdfkljasdfkljasdjkl;fasjkl;dfjasdkfjkl;asdfjkl;asdjfl;aksdjf;aklsdfj;askldfjl;asdkjfkl;asdjfl;askjdfkl;asdjf
        </div>
    </div>
    <div class="col-12 message-bar-box">
        <div class="row bar message-bar m-auto">
            <div class="col-1 bar-icon">
                <img class="keyboard-icon" src alt="">
            </div>
            <div class="col-10">
                <input class="input-bar"  placeholder="Scrivi un messaggio...">
            </div>
            <div class="col-1 bar-icon">
                <button class="btn btn-send">
                    <img class="send-icon" src alt="">
                </button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block rightside %}
<div class="row logo-box">
    <span id="logo">Storygram</span>
</div>
<div class="row contacts-box">
    <div class="col-12 contact" id="{{ IDUtenteRemoto }}">
        <div class="row">
            <div class="col-1 contact-user-profile-img">
                <img class="user-icon" src alt="" height="24px" width="24px">
            </div>
            <div class="col contact-user-name">
                {{ nomeUtente }}
                Nome Utente
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}

<script>
    $(".contact").on("click",function(){
        idUtenteSel = $(this).id;
        var t = $(this);

        //rischiesta per ottenere le chat
        $.ajax({
            success:function(){
                console.log("sos");
                t.parent().parent().addClass("d-none");
                $(".main-messages-box").addClass("selected-chat");
            }
        });
    });
</script>

{% endblock %}