{% extends "layout_base.html" %}

{% block content %}

<div class="box-input">
    <form action="{{ url_for('create_post') }}" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="fileInput">Immagine: </label>
            <input class="form-control-file" id="fileInput" type="file" name="file_post">
        </div>
        <div class="form-group">
            <label for="descrizionePost">Descrizione Post: </label>
            <textarea class="form-control input-descrizione" type="text" name="Descrizione" id="descrizionePost" placeholder="Inserisci la desscrizione del tuo post..." rows="3"></textarea>
        </div>
        <button class="btn btn-primary btn-sm" type="submit">Conferma</button>
    </form>
</div>

{% endblock %}