{% extends "layout_base.html" %}

{% block content %}

<div class="box-modifica vh-100">

    <h3>Modifica Profilo...</h3>

    <form action="{{url_for('modifica_profilo', id=ID)}}" method="POST" enctype=multipart/form-data>
        <div class="form-group">
            <label for="Nome">Nome:</label>
            <input class="form-control" type="text" name="Nome" required value="{{nome}}">
        </div>
        <div class="form-group">
            <label for="Cognome">Cognome:</label>
            <input type="text" class="form-control" name="Cognome" required value="{{cognome}}">
        </div>
        <div class="form-group">
            <label for="Descrizione">Descrizione:</label>
            <textarea class="form-control" id="descrizione_modifica" type="text" name="Descrizione">{{descrizione}}</textarea>
        </div>
        <div class="form-group">
            <label for="ImmagineCorrente">Immagine Attuale:</label> 
            <img src="{{pathImmagineProfilo}}" alt="ALT_immagine_profilo_attuale" style="width: 50%;"> 
        </div>
        <div class="form-group">
            <label for="file">Seleziona File:</label> 
            <input class="form-control-file" type="file" name="file"> 
        </div>
        <div class="form-group">
            <label for="PStorico">Periodo Storico:</label> 
            <input name="PStorico" type="text" max=100 required value="{{periodoStorico}}"> 
        </div>
        <div class="form-group">
            <label for="Privacy">Profilo privato: </label> 
                <label class="switch">
                    <input type="checkbox" id="privacyCheckbox" name="Privacy" {% if privacy == 1 %} checked {% endif %}>
                    <span class="slider round"></span>
                </label>
                <input type="hidden" id="hiddenPrivacy" name="Privacy" value="{% if privacy == 1 %}1{% else %}0{% endif %}">
            
            <label for="Privacy">dark mode: </label> 
                <label class="switch">
                    <input type="checkbox" id="preference" name="preference" {% if theme == 'dark' %} checked {% endif %}>
                    <span class="slider round"></span>
                </label>
                <input type="hidden" id="hiddenPrivacy" name="preference" value="{% if preference == 1 %}1{% else %}0{% endif %}">
            
            <script>
                document.getElementById('privacyCheckbox').addEventListener('change', function() {
                    if (this.checked) {
                        document.getElementById('hiddenPrivacy').value = 1;
                    } else {
                        document.getElementById('hiddenPrivacy').value = 0;
                    }
                });
                document.getElementById('preference').addEventListener('change', function() {
                    if (this.checked) {
                        document.getElementById('preference').value = 1;
                    } else {
                        document.getElementById('preference').value = 0;
                    }
                });
            </script>                
        </div>

        <button class="btn btn-primary btn-sm" type="submit">Conferma</button>

    </form>
</div>

{% endblock %}