{% extends "layout_base.html" %}

{% block content %}

<div class="box">

    <h3>Modifica Profilo...</h3>

    <table align="center" style="margin-top:30px">
        <form action="{{url_for('modifica_profilo', id=ID)}}" method="POST" enctype=multipart/form-data>
            <tr>
                <td style="border-right: 1px solid black"> <label for="Nome">Nome:</label> </td>
                <td> <input type="text" name="Nome" required value="{{nome}}"> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="Cognome">Cognome:</label> </td>
                <td> <input type="text" name="Cognome" required value="{{cognome}}"> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="Descrizione">Descrizione:</label> </td>
                <td> <textarea id="descrizione_modifica" type="text" name="Descrizione">{{descrizione}}</textarea> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="ImmagineCorrente">Immagine Attuale:</label> </td>
                <td> <img src="{{pathImmagineProfilo}}" alt="ALT_immagine_profilo_attuale" style="width: 50%;"> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="file">Seleziona File:</label> </td>
                <td> <input type="file" name="file"> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="PStorico">Periodo Storico:</label> </td>
                <td> <input name="PStorico" type="text" max=100 required value="{{periodoStorico}}"> </td>
            </tr>
            <tr>
                <td style="border-right: 1px solid black"> <label for="Privacy">Profilo privato: </label> </td>
                <td>
                    <label class="switch">
                        <input type="checkbox" id="privacyCheckbox" name="Privacy" {% if privacy == 1 %} checked {% endif %}>
                        <span class="slider round"></span>
                    </label>
                    <input type="hidden" id="hiddenPrivacy" name="Privacy" value="{% if privacy == 1 %}1{% else %}0{% endif %}">
                </td>
                <script>
                    document.getElementById('privacyCheckbox').addEventListener('change', function() {
                        if (this.checked) {
                            document.getElementById('hiddenPrivacy').value = 1;
                        } else {
                            document.getElementById('hiddenPrivacy').value = 0;
                        }
                    });
                </script>                
            </tr>
            <tr>
                <td></td>
                <td style="float: right" class="mt-3">
                    <button class="btn btn-primary btn-sm" type="submit">Conferma</button>
                </td>
            </tr>
        </form>
    </table>
</div>

{% endblock %}