{% extends "layout_base.html" %}


{% block content %}

<div class="vw-100 vh-100 fixed-top visualizzaizone-seguiti-follower d-none">
    <div class="visualizzaizone-seguiti-follower-box">
        <div class="row intestazione-box">
                <div class="col titolo">
                    <span id="intestazione"></span>
                </div>
                <div class="col-4 close">
                    <button class="btn" onclick="chiusura()">
                        <img class="close-icon self-align-end" src alt="close-button" height="24px" width="24px">
                    </button>
                </div>
            <div class="col-12 w-100 mt-1">
                <div class="row">
                    <div class="col-12 contact" id="{{ IDUtenteRemoto }}">
                        <div class="row">
                            <div class="col-1 contact-user-profile-img">
                                <img class="user-icon" src alt="" height="24px" width="24px">
                            </div>
                            <div class="col contact-user-name">
                                {{ nomeUtente }}
                                Nome Utente
                            </div>
                        </div>
                    </div>


                    <div class="col-12 contact" id="{{ IDUtenteRemoto }}">
                        <div class="row">
                            <div class="col-1 contact-user-profile-img">
                                <img class="user-icon" src alt="" height="24px" width="24px">
                            </div>
                            <div class="col contact-user-name">
                                {{ nomeUtente }}
                                Nome Utente
                            </div>
                        </div>
                    </div>

                    <div class="col-12 contact" id="{{ IDUtenteRemoto }}">
                        <div class="row">
                            <div class="col-1 contact-user-profile-img">
                                <img class="user-icon" src alt="" height="24px" width="24px">
                            </div>
                            <div class="col contact-user-name">
                                {{ nomeUtente }}
                                Nome Utente
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- div per la visualizzaizone di un profilo-->
<div class="row info-user">
    <!-- div per contenere l'immaigne del profilo-->
    <div class="col-4 profile-image" >
        <img src="{{pathImmagineProfilo}}" alt="profile_picture" style="width: 50%;">
    </div>
    <div class="col-8">
        <div class="row h-50">
            <!-- div dove viene visualizzato il nome dell'utente -->
            <div class="col profile-data nome-lg" style="font-size: 25px;">
                {{ nomeUtente }}
            </div>
            <!-- div dove vengono visualizzate i dati generali del profilo  -->
            <div class="col profile-data align-self-end align-self-sm-center">
                <span class="numero-dati">  <!-- numero di post dell'utente -->
                    {{numeroDiPost}} 
                </span><br>
                <span class="tipo-dati">
                    Post
                </span>
            </div>
            <div class="col profile-data align-self-end align-self-sm-center" id="Followers">
                <span class="numero-dati"> <!-- numero di seguaci dell'utente -->
                    {{seguaci}}
                </span><br>
                <span class="tipo-dati">
                    Followers
                </span>
            </div>
            <div class="col profile-data align-self-end align-self-sm-center" id="Seguiti">
                <span class="numero-dati"> <!-- numero di seguiti dell'utente-->
                    {{seguiti}}
                </span><br>
                <span class="tipo-dati">
                    Seguiti
                </span>
            </div>
        </div>
        <div class="row h-50">
            <!-- a seocnda se il profilo visuallizzato è proprio o di qualcuno, rendo visibili i giusti pulsanti -->
            <div class="col profile-data flex-row">
                <input type="hidden"  id="c1" name="IDUtente" value="{{ ID }}">
                {% if is_owner == True %}
                <button class="btn widget-btn profile-btn" onclick="modificaprofilo()">Modifica</button> <!-- se sono il proprietario mostro il pulsante per modificare il profilo-->
                {% else %}
                    <!-- se non sono il proprietario mostro il pulsante per seguire l'utente-->
                    {% if is_following == True %}
                    <button class="btn widget-btn profile-btn" onclick="stop_seguiutente()">Non seguire</button>
                    {% else %}
                    <button class="btn widget-btn profile-btn" onclick="seguiutente()">Segui</button>
                    {% endif%}
                {% endif %}
                <button class="btn widget-btn profile-btn">Messaggi</button> <!-- mostro il pulsante per i messaggi-->
            </div>
        </div>
    </div>
</div>
<!-- dive per contenere la descrizione del profilo -->
<div class="row desc-user px-5 px-sm-0">
    <label class="desc-title" for="#desc">
        <b style="margin-left: 55px;">Descrizione</b>
    </label>
    <textarea class="desc-text" id="desc" readonly>
        {{descrizione}}
    </textarea>
    
</div>
<!-- div per contenere tutti i post del profilo -->
<div class="row post-user">
    <label class="title-post" for=""><b>POST</b></label>
</div>


{% endblock %}

{% block script %}

<script>
    function chiusura(){
        $(".visualizzaizone-seguiti-follower").addClass("d-none");
    }

    $("#Seguiti").on("click",function(){
        $(".visualizzaizone-seguiti-follower").removeClass("d-none");
        $("#intestazione").text("Seguiti");
    });

    $("#Followers").on("click",function(){
        $(".visualizzaizone-seguiti-follower").removeClass("d-none");
        $("#intestazione").text("Followers");
    });
</script>

{% endblock %}
