<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel="stylesheet" href="{{url_for('static', filename='bootstrap-5.3.3-dist/css/bootstrap.css')}}">
    <script src="{{url_for('static', filename='bootstrap-5.3.3-dist/js/jquery-3.7.1.min.js')}}"></script>
    <title>Story</title>
</head>
    <body>
        <div class="row vh-100 m-auto">
            <div class="col-12 col-sm info-user-story">
                <div class="d-flex flex-row flex-sm-column text-center">
                    <span class="user-image-story mb-4">
                        <img class="user-icon" width="72px" height="72px">
                    </span>
                    <div class="d-flex flex-column">
                        <span class="user-name-story mb-4">
                            {{ nomeUtente }}
                            Nome Utente
                        </span>
                        <span class="user-period-story mb-4">
                            {{ periodoStorico }}
                            Periodo storico
                        </span>
                    </div>
                </div>
            </div>
            <div class="col d-flex justify-content-center align-items-center">
                <div class="img-story">
                </div>
            </div>
            <div class="col-lg">
                
            </div>

        </div>
    </body>
</html>